
td {
    vertical-align: top;
    text-align: left;
}


#profile{
    display: flex;
}


#introduction, #core-skills {
    width: 50vw;
    height: 60vh;
    font-size: calc(10px + 1vmin);
    margin: 2px;
    border: 1px blue solid;
}

#time-line{
    font-size: calc(10px + 1vmin);
    margin: 2px;
    border: 1px blue solid;
}
/* #core-skills{
    width: 50vw;
    height: 60vh;
    background-color: red;
    
} */

@media (max-width: 800px){
    #profile{
        display: block;
    }

    #introduction, #core-skills{
        display: flex;
        width: 98vw;
        height: 40vh;
        font-size: calc(10px + 1.5vmin);
        overflow-y: scroll;
    }

    #time-line{
        width: 98vw;
        margin: 2px;
        border: 1px blue solid;
    }

}
