.home-container{
    background: #3da3d5;
    margin: 2px;
    border: 1px blue solid;

}

td {
    vertical-align: top;
    text-align: left;
}


#profile {
    display: flex;
}


#introduction,
#core-skills {
    background: #3da3d5;
    width: 50vw;
    height: 60vh;
    font-size: calc(10px + 1vmin);
    overflow-x: scroll;
    overflow-y: scroll;
}

#time-line {
    font-size: calc(10px + 1vmin);
    margin: 2px;
    border: 1px blue solid;
}


#canvas-container {
    width: 90%;
    height: 90%;
}

@media (max-width: 800px) {
    #profile {
        display: block;
    }

    #introduction,
    #core-skills {
        display: flex;
        width: 98vw;
        height: 40vh;
        font-size: calc(10px + 1.5vmin);
        
    }

    #time-line {
        width: 98vw;
        margin: 2px;
        border: 1px blue solid;
    }

}