#my-name {
    background-color: #1a5775;
}

h1 {
    color: aliceblue;
}

.home-container {
    background: #3da3d5;
    margin: 2px;
    border: 1px blue solid;

}

td {
    vertical-align: top;
    text-align: left;
}


#profile {
    display: flex;
}


#introduction,
#core-skills {
    background: #3da3d5;
    width: 50vw;
    height: 60vh;
    font-size: calc(10px + 1vmin);
    color: aliceblue;
    overflow-x: scroll;
    overflow-y: scroll;
}

#time-line {
    font-size: calc(10px + 1vmin);
    color: aliceblue;
    margin: 2px;
    border: 1px blue solid;
}


#canvas-container {
    position: relative;
    width: 50vw;
    height: 58vh;
    /* border: 1px solid green;
    margin: 2px; */
}

@media (max-width: 800px) {
    #profile {
        display: block;
    }

    #introduction,
    #core-skills {
        display: flex;
        width: 98vw;
        height: 40vh;
        font-size: calc(10px + 1.5vmin);

    }

    #canvas-container {
        position: relative;
        width: 98vw;
        height: 38vh;
        /* border: 1px solid green;
        margin: 2px; */
    }

    #time-line {
        width: 98vw;
        margin: 2px;
        border: 1px blue solid;
    }

}

/* for Academic page  */
#cert-display-frame > img {
    /* width: 98vw; */
    max-width: 98vw;
}